.texto{
    display: flex;
    justify-content: space-between;
}
.elemento{
width: 30%;
margin: 10px;
}
@media(max-width:768px){
    .texto{
        flex-direction: column;
    }
}
.a{
    text-decoration: none;
}
.contact {
    padding-top: 8px;
    padding-bottom: 40px;
  }